template(name="ooDatetimePicker")
  +with pickerContext
    .ooDatetimePicker
      div()
        if pickerType 'date'
          button.js-openYearWidget
            if activeYear
              span Year - {{activeYear}}
            else
              span Year - Not set
          button.js-openMonthWidget
            if activeMonth
              span Month - {{activeMonth}}
            else
              span Month - Not set
          button.js-openDayWidget
            if activeDay
              span Day - {{activeDay}}
            else
              span Day - Not set
        if pickerType 'time'
          button.js-openHourWidget
            span Hour - {{activeHour}}
          button.js-openMinuteWidget
            span Minutes - {{activeMinute}}
      .ooDatetimePicker--widget-area
        if activeWidget 'minuteWidget'
          .ooDatetimePicker--hourWidget.oo-animation--fadeIn
            .ooClock
              button.js-decreaseMinute.control.align-top-left(btn="neutral-tint circle" oo-Color="text:neutral-dim") -
              button.js-inreaseMinute.control.align-top-right(btn="neutral-tint circle" oo-Color="text:neutral-dim") +
              if ifActiveAMPM 'PM'
                button.js-setPm.control.align-bottom-left(btn="action  circle") PM
              else
                button.js-setPm.control.align-bottom-left(btn="transparent  circle" oo-Color="text:neutral-dim") PM
              if ifActiveAMPM 'AM'
                button.js-setAM.control.align-bottom-right(btn="action circle") AM
              else
                button.js-setAM.control.align-bottom-right(btn="transparent circle" oo-Color="text:neutral-dim") AM
              +each minutes
                if ifActiveMinute
                  button(btn="circle action small" minute="{{this}}") {{this}}
                else
                  button.js-selectMinute(btn="circle transparent small" minute="{{this}}" oo-Color="text:neutral-dim") {{this}}
              +ooClock timeValue=activeMinute timeFactor=6
        if activeWidget 'hourWidget'
          .ooDatetimePicker--hourWidget.oo-animation--fadeIn
            .ooClock
              if ifActiveAMPM 'PM'
                button.js-setPm.control.align-bottom-left(btn="action  circle") PM
              else
                button.js-setPm.control.align-bottom-left(btn="transparent  circle" oo-Color="text:neutral-dim") PM
              if ifActiveAMPM 'AM'
                button.js-setAM.control.align-bottom-right(btn="action circle") AM
              else
                button.js-setAM.control.align-bottom-right(btn="transparent circle" oo-Color="text:neutral-dim") AM
              +each hours
                if ifActiveHour
                  button(hour="{{this}}" btn="circle action small" ) {{this}}
                else
                  button.js-selectHour(btn="circle transparent small" hour="{{this}}" oo-Color="text:neutral-dim") {{this}}
              +ooClock timeValue=activeHour timeFactor=30
        if activeWidget 'dayWidget'
          .ooDatetimePicker--dayWidget.oo-animation--fadeIn
            h4.dayWidget--title XXXJanuary
            .dayWidget--grid
              +each weekdays
                .dayWidget--cell
                  .label {{this}}
              +each currentDays
                .dayWidget--cell
                  if this
                    .label.js-selectDay(class="{{ifActiveDay}}") {{this}}
        if activeWidget 'monthWidget'
          .ooDatetimePicker--monthWidget.oo-animation--fadeIn
            .monthWidget--grid
              +each months
                .monthWidget--cell
                  .label.js-selectMonth(class="{{ifActiveMonth}}") {{this}}
        if activeWidget 'yearWidget'
          .ooDatetimePicker--monthWidget.oo-animation--fadeIn
            .monthWidget--grid
              +each years
                .monthWidget--cell
                  .label.js-selectYear(class="{{ifActiveYear}}") {{this}}
      .ooDatetimePicker--bottomControls
        button(btn="neutral small material") Cancel
        if (timeCorrect)
          button.js-closeAndSave(btn="action small raised material") Ok

